In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
hit = pd.read_csv("Hitters.csv")
df = hit.copy()
df

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [3]:
hit = pd.read_csv("Hitters.csv")
df = hit.copy()
df = df.dropna()
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
y = df["Salary"]

In [4]:
df

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [12]:
hit = pd.read_csv("Hitters.csv")
df = hit.copy()
df = df.dropna()
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
y = df["Salary"]
X_ = df.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1).astype('float64')
X = pd.concat([X_, dms[['League_N', 'Division_W', 'NewLeague_N']]], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.20, 
                                                    random_state=42)

In [13]:
knn_model=KNeighborsRegressor().fit(X_train,y_train)

In [14]:
knn_model

KNeighborsRegressor()

In [15]:
knn_model.n_neighbors

5

In [16]:
knn_model.effective_metric_

'euclidean'

In [17]:
y_pred=knn_model.predict(X_test)

In [18]:
np.sqrt(mean_squared_error(y_test,y_pred))

404.7724696402799

In [22]:
RMSE = [] 

for k in range(10):
    k = k+1
    knn_model = KNeighborsRegressor(n_neighbors = k).fit(X_train, y_train)
    y_pred = knn_model.predict(X_train) 
    rmse = np.sqrt(mean_squared_error(y_train,y_pred)) 
    RMSE.append(rmse) 
    print("k =" , k , "için RMSE değeri: ", rmse)

k = 1 için RMSE değeri:  0.0
k = 2 için RMSE değeri:  191.93525868395363
k = 3 için RMSE değeri:  217.2219063109898
k = 4 için RMSE değeri:  231.08242356425697
k = 5 için RMSE değeri:  250.4882584654352
k = 6 için RMSE değeri:  260.328525819404
k = 7 için RMSE değeri:  270.99192429944407
k = 8 için RMSE değeri:  281.13065208999836
k = 9 için RMSE değeri:  286.0191410124487
k = 10 için RMSE değeri:  286.65958468449946

In [32]:
from sklearn.model_selection import GridSearchCV

In [37]:
knn_params={'n_neighbors':np.arange(1,30,1)}

In [38]:
knn=KNeighborsRegressor()

In [39]:
knn_cv_model=GridSearchCV(knn,knn_params,cv=10)

In [40]:
knn_cv_model.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])})

In [41]:
knn_cv_model.best_params_['n_neighbors']

3

In [42]:
RMSE=[]
RMSE_CV=[]
for k in np.arange(1,10,1):
    knn_model=KNeighborsRegressor(n_neighbors=k).fit(X_train,y_train)
    y_pred=knn_model.predict(X_train)
    rmse=np.sqrt(mean_squared_error(y_train,y_pred))
    rmse_cv=np.sqrt(-1*cross_val_score(knn_model,X_train,y_train,cv=10,scoring='neg_mean_squared_error').mean())
    RMSE.append(rmse)
    RMSE_CV.append(rmse_cv)
    print(f"k={k},rmse={rmse},rmse_cv={rmse_cv}")

k=1,rmse=0.0,rmse_cv=390.22949993245425
k=2,rmse=191.93525868395363,rmse_cv=331.1314621309808
k=3,rmse=217.2219063109898,rmse_cv=309.48071356059177
k=4,rmse=231.08242356425697,rmse_cv=315.0843462825527
k=5,rmse=250.4882584654352,rmse_cv=315.79504436327085
k=6,rmse=260.328525819404,rmse_cv=313.3306400446779
k=7,rmse=270.99192429944407,rmse_cv=319.9769221160555
k=8,rmse=281.13065208999836,rmse_cv=315.860946068917
k=9,rmse=286.0191410124487,rmse_cv=318.91900618618837

In [43]:
knn_tuned = KNeighborsRegressor(n_neighbors = knn_cv_model.best_params_["n_neighbors"])

In [44]:
knn_cv_model.best_params_

{'n_neighbors': 3}

In [45]:
knn_tuned.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [46]:
np.sqrt(mean_squared_error(y_test,knn_tuned.predict(X_test)))

392.2975443521745